@using EntityLayer.Concrete
@model List<Customers>

<div class="row ">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Cari Listesi</h4>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th style="color:white"> Ad Soyad </th>
                                <th style="color:white"> Telefon </th>
                                <th style="color:white"> Verilen Hizmet </th>
                                <th style="color:white"> Anlaşılan Ücret </th>
                                <th style="color:white"> Tarih </th>
                                <th style="color:white"> Detay </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td> @item.AdSoyad </td>
                                    <td> @item.Telefon </td>
                                    <td> @item.VerilenHizmet </td>
                                    <td> @item.AnlaşılanÜcret </td>
                                    <td> @item.Tarih </td>
                                    <td>
                                        <a href="#"><div class="badge badge-outline-success">Görüntüle</div></a>
                                        
                                    </td>
                                </tr>
                            }


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>